:root {
  --card-border: brown;
  --card-border-radius: 3px;
}


* {
	padding: 0;
	margin: 0;
}

*,
::after,
::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

body {
	font-family: 'Neucha', cursive;
  font-weight: 400;
  letter-spacing: 1.5px;
	line-height: 1.6rem;
  color: black;
  background: linear-gradient(to left, #E0EAFC, #CFDEF3);


}

.wrapper {
  width: 800px;
  margin: auto;
  text-align: left;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

.heading {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*----------------------- PAPER ------------------------------ */

.paper_heading {
  margin-top: 100px;
}

.paper_text {
  width: 100%;
}

.paper_text textarea {
  width: 100%;
  margin-top: 20px;
  resize: none;
}

.question_type {
  border: 1px solid grey;
  padding: 10px 35px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 100px;
}

.question_type strong {
  cursor: pointer;  
}

.question_type p {
  color: gray;  
}

.question_type a {
  text-decoration: none; 
  color: #000;
}

.question_type strong:hover {
  text-decoration: underline;  
}

.question_right {
  display: grid;
  align-items: center;
  justify-items: center;
}

.question_right button:hover {
  color: red;
}


/*----------------------- Menu ------------------------------ */

.menu {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
}

.menu_left {
  display: flex;
}

.menu ul {
  list-style: none;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin-right: 30px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
  font-weight: 700;
}

.logo {
  margin: 0 30px;
}

.logo a {
  text-decoration: none;
  color: black;
}


/*----------------------- TASK ------------------------------ */

.task {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: var(--card-border-radius);
}

.notdone {
  background-color: white;
}

.done {
  background-color: transparent;
}

.task_kpi span {
  color: gray;
  margin-left: 20px;
  font-size: 10px;
}

/*----------------------- QUESTION ------------------------------ */

hr {
  margin: 20px 0;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  /* border: 2px solid rebeccapurple; */
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: #4760A0;
  font-family: 'Neucha', cursive;
  font-weight: 700;
}


/*----------------------- PAPER ------------------------------ */

.paper_text textarea {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: var(--card-border-radius);
}

.paper_panel {
  /* position: fixed; */
  bottom: 0;
  height: 50px;
  display: flex;
  justify-content: space-between
}


.paper_panel span {
  color: gray;
  margin-left: 20px;
  font-size: 10px;
}

/*----------------------- AUTH ------------------------------ */

.auth label {
  display: block;
}

.auth input {
  width: 250px;
  padding: 5px 15px;
}

.auth_block {
  margin-bottom: 10px;
}